<div class="container">
  <div class="row justify-content-center">
    <h2 class="mt-3">About Dish</h2>
  </div>
  <div class="row justify-content-center">
    <div class="about-visual"></div>
    <div class="text-center ml-5 mt-5">
      <p>Dishは、冷凍のおかず配送サービスです。</p>
      <p>一人暮らしや共働きで忙しいあなたに寄り添った、</p>
      <p>健康的で栄養たっぷりのおかずをお届けします。</p>
      <p>食材にこだわっており、食品添加物不使用です。</p>
      <p>使用した食材や調味料の記載があるため、</p>
      <p>アレルギーのある方も安心して注文いただけます。</p>
      <p>ぜひご注文ください。</p>
    </div>
  </div>
</div>