<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="main-visual">
        <div class="main-visual-content">
          <p>ようこそ、Dishへ</p>
          <p>Dishは冷凍の副菜を販売しています。</p>
          <p>忙しいあなたに、栄養たっぷりのおかずをお届けします。</p>
        </div>
      </div>
    </div>
  </div>
</div>