.main-visual {
  background-image :url('../images/main-visual.png');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 900px;
  height: 600px;
}

.main-visual-content {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 280px;
  left: 260px;
}